<nav class="site-menu" id="ftco-navbar-spy">
    <div class="site-menu-inner" id="ftco-navbar">
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <% if(!name){ %>

                <li class="nav-item">
                    <a class="nav-link" href="/dangki">Đăng kí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dangnhap">Đăng nhập</a>
                </li>
                <% } %>
                    <% if(name) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/themthe">Thêm thẻ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/naptien">Nạp tiền</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/lichsunaptien">Xem lịch sử nạp tiền</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/xemsodu">Xem số dư</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/xemgiohang">Xem giỏ hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Xin chào <%- name %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/danhgia">Đánh giá</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dangxuat">Đăng xuất</a>
                        </li>
                        <% if (role == 'daubep'){ %>
                            <li class="nav-item">
                                <a class="nav-link" href="/cms/order">Xác nhận</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cms/foods">
                                    <span>Thêm món ăn</span></a>
                            </li>
                            <% } else if( role == 'nhanvien' ) {  %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/xacnhan">Xác nhận</a>
                                </li>
                                <% } %>
                                    <% } %>
                                        <% if (role == 'admin'){ %>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/cms/">Trang cms</a>
                                            </li>
                                            <% } %>
                                                <% if (role == 'vendor'){ %>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/cms/quanlynguoidung">Trang quản lý nhân viên</a>
                                                    </li>
                                                    <% } %>

        </ul>
    </div>
</nav>
<header class="site-header">
    <div class="row align-items-center">
        <div class="col-5 col-md-3">

        </div>
        <div class="col-2 col-md-6 text-center site-logo-wrap">
            <a href="/" class="site-logo">BK Food Court</a>
            <p style="font-weight: bold; color: orange;" id="status"></p>

        </div>
        <div class="col-5 col-md-3 text-right menu-burger-wrap">
            <a href="#" class="site-nav-toggle js-site-nav-toggle"><i></i></a>

        </div>
    </div>

</header>
<!-- site-header -->