<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Bảo trì
                
            </h4>
        </div>
        <div class="card-body">
            <h1>Trạng thái hiện tại: <%- data.trangthai %></h1>
            <div class="row">
            <form class="" method="post">
                <input type="hidden" name="hanhdong" value="on">
                <button type="submit" class="btn btn-danger" >Bật bảo trì</button>
            </form>
            
             <form class="" method="post">
                <input type="hidden" name="hanhdong" value="off">
                <button type="submit" class="btn btn-warning    " >Tắt bảo trì</button>

            </form>
        </div>  
        </div>
    </div>


</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script>
    
</script>